name: Build plugin

on: [push, pull_request]

jobs:
  build:
    runs-on: windows-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Download SCP:SL Dedicated Server
      uses: TheUltimateNuke/steam-download@v1.0.0
      with:
        username: anonymous
        appid: 996560
        path: ${{ github.workspace }}/SCPSL

    - name: Setup MSBuild
      uses: microsoft/setup-msbuild@v2

    - name: Restore NuGet packages
      run: nuget restore DarkCore.sln

    - name: Build solution (Release)
      run: msbuild DarkCore.sln /p:Configuration=Release /p:SL_MANAGED="${{ github.workspace }}\SCPSL\SCPSL_Data\Managed"

    - name: Upload build artifacts (Release)
      uses: actions/upload-artifact@v4
      with:
        name: Build-Release
        path: '**/bin/x64/Release/*'

    - name: Build solution (Debug)
      run: msbuild DarkCore.sln /p:Configuration=Debug /p:SL_MANAGED="${{ github.workspace }}\SCPSL\SCPSL_Data\Managed"

    - name: Upload build artifacts (Debug)
      uses: actions/upload-artifact@v4
      with:
        name: Build-Debug
        path: '**/bin/x64/Debug/*'
